/* body{
 background: url("/images/pencil") center;

} */
body{overflow-x: hidden;}
.todo-layout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.add-todos{
    /* border: 1px solid palevioletred; */
    margin: auto;
    min-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1%;
    
}
.MuiTextField-root{
  top: -4px;
  margin-right: 50px;

}
.add-todos button{
    transform: translateX(5%);
}
.todo-list{
    width: 40vw;
    margin: auto;
    position: absolute;
    top: 20%;     
}



.item-todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-todo-item{
    padding-left: 20px;
    outline: none;
    border: none;
    width: 90%;
   
}
.card{
    border-radius: 6px;
    background-color: white;
    -webkit-box-shadow: 1px 2px 4px 0px rgba(0,0,0,1);
    -moz-box-shadow: 1px 2px 4px 0px rgba(0,0,0,1);
    box-shadow: 1px 2px 4px 0px rgba(0,0,0,1);
    margin-bottom: 10px;
}


.list-btn{
    width: 22px;
    height: 30px;
    border: none;
    font-size: x-large;
    position: sticky;
    background-color: #D24A58;
    background-image: linear-gradient(120deg, #ec6969 0%, #D24A58 100%);
    color: lavenderblush;
    align-self: center;
    border-radius: 6px;
}
.list-btn:hover{
    transform: none;
}
.pencil svg{
    width: 100%;
    pointer-events: none;
    position: relative;
    top: 10%;
}
.pencil{
z-index: -1;
/* border: 1px solid red; */
display: flex;
justify-content: center;

}
.details{
    width: 13%;
    height: auto;
    position: absolute;
    top: 2vh;
    padding: 20px;
    left: 40%;
    z-index: 100;
    background-color: #D24A58;
    /* background-image: linear-gradient(120deg, #ec6969 0%, #D24A58 100%); */
    background-color: rgb(255, 255, 255);
    color: seashell;
    color: #D24A58;
    color: grey;
    border-bottom: 2px solid #D24A58;
    border-top: 2px solid #D24A58;
    border-radius: 10px;
    display: none;
 -webkit-animation: scale-in-ver-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-ver-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
}

 @-webkit-keyframes scale-in-ver-center {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-ver-center {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      opacity: 1;
    }
  }
  


@media only screen and (max-width: 1200px) {
    .todo-list{
        width: 80vw;
    }
}